BasedOnStyle: WebKit

IndentWidth: 2
ColumnLimit: 120
BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never

BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
